* {
  margin: 0;
  padding: 0;
  word-break: keep-all;
}

body {
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background: rgb(48, 50, 68);
  background: linear-gradient(
    157deg,
    rgba(48, 50, 68, 1) 0%,
    rgba(2, 2, 2, 1) 52%,
    rgba(58, 53, 74, 1) 100%
  ); */
}

button {
  background-image: none;
  background-color: none;
  border: none;
  font-family: "Noto Sans KR", sans-serif;

  font-size: 16px;
  font-weight: 500px;
  padding: 16px 20px;
  border-radius: 28px;
  cursor: pointer;
  margin: 10px 0;
}

.button-white {
  border: rgba(255, 255, 255, 0.8) solid 1px;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  transition: all ease-in-out 0.3s;
}

.button-white:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all ease-in-out 0.3s;
}

.button-dark {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: all ease-in-out 0.3s;
}

.button-dark:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 0.3s;
}

#navigation {
  display: flex;
  justify-content: space-between;
  background-color: #020202;
  color: black;
  align-items: center;
  padding: 12px;
  height: 60px;
  position: sticky;
  top: 0;
  font-family: "Montserrat";
  z-index: 1;
}

#home-logo {
  width: 60px;
  height: auto;
  margin-left: 40px;
}

.logo-img {
  /* margin: auto; */
  /* margin-left: auto;
  margin-right: auto;
  display: block; */
  display: block;
  margin: auto 0;
  width: 300px;
  float: right;
}

.logo-text {
  float: left;
  font-size: 25px;
  font-weight: 500;
  margin: auto 30px;
  margin-top: 45px;
  /* margin-left: 10px;
  margin-top: 20px; */
}

.logo-inquiry-window {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a.nav-item {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 16px;
  margin-right: 30px;
  transition: all ease-in-out 0.3s;
}

a.nav-item:hover {
  border-bottom: thistle solid 1px;
}

#banner {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: white;
  display: flex;
  align-items: center;
  background: url("./images/background.jpeg");
  background-position: center;
  background-size: cover;
  /* background-blend-mode: darken; */
  /* background-image: url(./images/background.jpeg); */
}

#banner .wrapper {
  margin: 20px auto;
  max-width: 1024px;
  width: 80%;
}

#banner h4,
#banner h3 {
  font-weight: 300;
}

main {
  /* padding: 50px 0; Footer height */
  flex-grow: 1;
  margin: 20px auto;
  width: 100%;
  background-color: white;
  color: black;
}

#main,
#schedule,
#about {
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
}

#nav-hamburger {
  display: none;
}

/* #main {
  display: grid;
  grid-template-columns: 55% 40%;
  column-gap: 28px;
} */

#poster {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  /*Navigation*/

  #navigation {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }

  #home-logo {
    width: 60px;
    height: auto;
    margin-left: 12px;
  }

  #nav-hamburger {
    display: block;
    margin-right: 12px;
    cursor: pointer;
    color: white;
  }

  #nav-container {
    background-color: #020202;
    display: none;
    position: absolute;
    top: 74px;
    right: 0;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px;
  }

  #nav-container a {
    display: block;
    text-align: right;
    padding: 12px;
    margin: 0 4px;
    font-size: 16px;
  }

  #main,
  #schedule,
  #about {
    width: 90%;
  }

  .logo-img {
    width: 50%;
    height: auto;
  }
}

footer {
  width: 80%;
  height: 100px;
  display: block;
  padding: 10px 10%;
  /* justify-content: space-between; */
  font-weight: 200;
  background: rgb(48, 50, 68);
  background: linear-gradient(
    157deg,
    rgba(48, 50, 68, 1) 0%,
    rgba(2, 2, 2, 1) 52%,
    rgba(58, 53, 74, 1) 100%
  );
}

#footer-center {
  margin-top: 40px;
  text-align: center;
}

#footer-right {
  margin-top: 20px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  footer {
    width: 80%;
    display: block;
    padding: 10px 10%;
    justify-content: space-between;
  }

  #footer-center {
    margin-top: 8px;
    text-align: center;
  }

  #footer-right {
    margin-top: 8px;
    text-align: left;
  }
}

#intro {
  font-size: 18px;
  font-weight: 300;
}

.infobox {
  /* text-align: center; */
}

.box-title {
  font-weight: 500;
  font-size: 24px;
  margin: 12px 0;
}

.box-subtitle {
  font-weight: 500;
  font-size: 20px;
  margin: 12px 0;
}

.box-content {
  margin: 12px 0;
}

#main-button {
  margin-top: 20px;
  margin-top: 20px;
}

/*General Pages*/

.page-title {
  font-weight: 500;
  font-size: 32px;

  color: white;
  width: 100%;
  padding: 10px 0;
}

.page-title-text {
  margin: 10px auto;
  max-width: 1024px;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .page-title {
    font-size: 24px;
  }
}

/*Schedule page*/

#session-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

#schedule {
  display: grid;
  background-color: white;
  color: black;
  padding: 28px 16px;
  grid-template-columns: 150px auto;
}

.time-range {
  font-weight: 300;
}

.session-title {
  background-color: #fef5da;
  color: black;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-weight: 500;
}

.session-info {
  font-size: 16px;
  font-weight: 300;
}

.session {
  padding: 0 12px;
  margin-bottom: 20px;
}

.session-presentation,
.tutorial-presentation {
  border: #dadafe solid 1px;
  border-radius: 4px;
  margin-top: 8px;
  padding: 8px;
}

.presenter {
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: auto auto;
  margin-bottom: 8px;
}

.presenter-name {
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 20px;
  font-weight: 500;
  align-self: center;
}

.presenter-affil,
.presenter-reserach {
  font-size: 12px;
  font-weight: 300;
  color: gray;
}

.tutorial-presentation .presenter-affil {
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: flex-end;
  margin-bottom: 4px;
}

.tutorial-presentation {
  margin-top: 0;
  margin-bottom: 12px;
}

#tutorials {
  padding: 0 12px;
  margin-bottom: 20px;
}

.p-title {
  font-size: 16px;
  font-weight: 300;
}

.d-title {
  font-size: 20px;
  font-weight: 500;
  padding: 0 12px;
}

@media screen and (max-width: 1150px) {
  #session-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 768px) {
  #schedule {
    display: grid;
    padding: 0px 8px;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .session,
  #tutorials {
    padding: 0;
    width: 100%;
  }

  .time {
    margin-bottom: 20px;
    text-align: center;
  }

  .d-title {
    font-size: 20px;
    text-align: center;
  }
}

/* Panelists Page */

.panel-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.panel-format {
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 32px;
  border-radius: 5px;
  margin: 12px 16px;
  display: grid;

  grid-template-columns: 200px 1fr;
  column-gap: 16px;
  row-gap: 16px;
  max-width: 600px;

  margin: 32px auto;
}

.panel-format .info {
  font-size: 12px;
  font-weight: 500;
  color: gray;
  text-align: right;
  align-self: center;
}

.panel-image {
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 100%;
  margin: 8px auto;
}

.panel-job {
  list-style-position: inside;
}

.panel-titlebox {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
  justify-content: center;
}

.panel-basicinfo {
  display: flex;
  align-items: center;
}

.panel-name {
  font-weight: 500;
  font-size: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .panel-format {
    grid-template-columns: 100%;
    row-gap: 16px;
    max-width: 600px;
  }

  .panel-format * {
    grid-column: 1;
  }
  .panel-format .info {
    text-align: left;
    align-self: center;
  }
}

/* About us page */

.subtitle {
  font-weight: 500;
  font-size: 24px;
  margin-top: 16px;
}

.teams {
  font-weight: 500;
  font-size: 18px;
  margin-top: 8px;
}

.member-box {
  /* width: 80%; */
  /* font-size: 16px;
  margin-top: 4px; */
  margin-bottom: 15px;
}

.member-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.member {
  width: 150px;
}

.member-date {
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px;
  /* margin-bottom: 5px; */
  text-align: center;
}

.member-image {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 5px;
}

.member-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.member-name {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.member-div {
  text-align: center;
}
.member-class-name {
  /* text-align: center; */
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 4px;
}

.member-number span {
  /* background-color: #fef5da; */
}

.member-box hr {
  border: none;
  border-top: 2px solid rgb(255, 166, 0);
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 300px;
  text-align: center;
  margin: auto;
}
.member-box ul {
  margin-left: 15px;
}

#organization li {
  font-weight: 500;
  margin-top: 10px;
}
.button-oneline-box {
  display: flex;
  /* justify-content: center; */
  gap: 10px;
}
.content-box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item-box {
  width: 30%;
  background-color: #fef5da;
  color: black;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-weight: 500;
  flex-grow: 1;
}

.news-item-box {
  width: 30%;
  background-color: #cbcbcb98;
  color: black;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-weight: 500;
  flex-grow: 1;
}

/* Basic Card */

.basic-card {
  width: 300px;
  position: relative;

  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.basic-card .card-content {
  padding: 30px;
}

.basic-card .card-title {
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}

.basic-card .card-text {
  line-height: 1.6;
}

.basic-card .card-link {
  padding: 25px;
  width: -webkit-fill-available;
}

.basic-card .card-link a {
  text-decoration: none;
  position: relative;
  padding: 10px 0px;
}

.basic-card .card-link a:after {
  top: 30px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  width: 0;

  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.basic-card .card-link a:hover:after {
  width: 100%;
  left: 0;
}
.basic-card-light {
  border: 1px solid #eee;
}

.basic-card-light .card-title,
.basic-card-light .card-link a {
  color: #636363;
}

.basic-card-light .card-text {
  color: #7b7b7b;
}

.basic-card-light .card-link {
  border-top: 1px solid #eee;
}

.basic-card-light .card-link a:after {
  background: #636363;
}

/* Yellow Card */

.card {
  width: 280px;
  margin: 1%;
  /* position: relative; */
  padding: 20px;
  border-radius: 8px;
  transition: 0.3s all;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.15);
  /* text-align: center; */
}
.card:hover {
  transform: scale(1.05);
}
.card h3 {
  font-weight: 500;
}
.card-yellow {
  background: #ffda84;
  /* background: rgb(255, 166, 0); */
  color: black;
}
.card-green {
  background: #dceeb6;
  color: black;
}
.card-blue {
  background: #b6e8ee;
  color: black;
}

.card-purple {
  background: #e2d2f0;
  color: black;
}
.card-grey {
  background: #dde8ea;
  color: black;
}

.button-small {
  /* margin-top: 20px; */
  /* position: absolute; */
  /* bottom: 10px; */
  margin-left: -5px;
  /* left: 0;
  right: 0; */
  text-align: center;
  /* left: 80px; */
  font-size: 14px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10000px;
  transition: 0.3s all;
}

.button-small:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #2e2e2e;
}

.notice-title {
  cursor: pointer;
  font-size: 18px;
  /* text-decoration: underline; */
}
.notice-content {
  margin-top: 5px;
  padding: 10px 20px;
  display: none;
  /* max-height: 0; */
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.notice-title:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  /* float: right; */
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.session-info a {
  color: black;
}

.card ul {
  margin-left: 10px;
}
